@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

::after,
::before,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    height: 100%;
}

.wrapper {
    display: flex;
    height: 100vh;
}

main.content {
    min-height: fit-content;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
    overflow-y: scroll;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 999;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.toggle-btn i {
    font-size: 50px;
    color: #ffffff;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

/* #sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
} */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    margin: 8px;
    padding: 8px;
    color: #FFF;
    display: block;
    font-size: 17px;
    white-space: nowrap;
    border-left: 3px solid transparent;
    border-radius: 5px;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 17px;
    margin-right: 12px;
}

.count-number {
    font-size: 50px;
}

a.sidebar-link:hover,
li.sidebar-item.active {
    background-color: #2e7800;
    /* border-left: 3px solid #ffffff; */
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    padding: 0;
    min-width: 240px;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 240px;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 24px;
    top: 22px;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
    top: 15px;
}

.navbar {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #313131 !important;
}

.bg-theme-secondary {
    background-color: #B4B4B4;
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

nav {
    transition: all .3s ease-out;
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.card {
    border: none;
    margin-bottom: 30px;
}

/* .shadow {
    --bs-box-shadow: 0 0.3rem 1.5rem rgba(33, 37, 41, .1);
} */

.dash-icon {
    font-size: 30px;
}

#sidebar.expand a.sidebar-link span {
    margin-left: 10px;
}

.btn-circle {
    border-radius: 100%;
    /* height: 32px;
    width: 32px; */
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
}

.toast {
    --bs-toast-border-color: unset;
}

.toast .alert {
    --bs-alert-margin-bottom: unset;
}

.error-404 h1 {
    font-size: 120px;
}

.error-404,
.register-container,
.login-container {
    overflow-y: scroll;
    height: 100vh;
}

.stat-icon {
    width: 3rem;
    height: 3rem;
}


.stat-icon i {
    font-size: 2.25rem;
}

.stat-icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.stat-icon-shape i {
    font-size: 1.25rem;
}

.home-bg {
    background-image: url('../img/homepage-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 83.7vh;
    position: relative;
}

/* .home-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
} */

.welcome-text,
.home-description {
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 1px 1px #252525;
}

h1.home-title {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #252525;
}

.title-container,
.home-description,
.auth-buttons {
    position: relative;
    z-index: 2;
}

#sidebar {
    background-color: #084d00 !important;
}

.btn-danger,
.bg-danger {
    background-color: #af0000 !important;
    border-color: #af0000 !important;
}

.btn-primary {
    background-color: #1000c4 !important;
    border-color: #1000c4 !important;
}

@media print {

    @page {
        size: A4 landscape;
        margin: 5mm;
    }

    #summary_report {
        font-size: 1vw;
    }

    #print-section * {
        color: #000 !important;
    }

    table#summary_report {
        width: 100%;
    }

    #summary_report * {
        font-size: 1vw !important;
    }

    .print-footer {
        position: fixed;
        bottom: 0;
        right: 0;
    }
}

.bg-theme-primary {
    background-color: #093a0d !important;
}

.bg-green-secondary {
    background-color: #084d00 !important;
}

.bg-green-tertiary {
    background-color: #2e7800 !important;
}

.sidebar-link.active {
    background-color: #2e7800;
}

.sticky-action,
.dt-layout-row {
    position: sticky !important;
    right: 0 !important;
    background: white;
    z-index: 2 !important;
}

.border-brown {
    --bs-border-opacity: 1;
    --bs-brown-rgb: 179, 81, 0;
    border-color: rgba(var(--bs-brown-rgb), var(--bs-border-opacity)) !important;
}

.bg-brown {
    background-color: #B35100;
}

.text-brown {
    color: #B35100;
}

table th {
    text-align: center !important;
}

td.sticky-action div {
    justify-content: center !important;
}

table th.border-dark,
table.dataTable>thead>tr>th {
    border-color: #fff !important;
}

.fc .fc-button {
    background-color: #093a0d !important;
    border-color: #093a0d !important;
    color: #fff !important;
}

.fc .fc-button:hover {
    background-color: #062a0a !important;
    border-color: #062a0a !important;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    background-color: #062a0a !important;
    border-color: #062a0a !important;
}

.fc .fc-today-button {
    background-color: #093a0d !important;
}

.fc .fc-toolbar-title {
    color: #093a0d !important;
    font-weight: 600;
}

.fc .fc-daygrid-day-number {
    color: #093a0d;
}

.fc a {
    color: #093a0d;
}

.text-dash {
    font-size: 20px;
}